/* Common */
body {
    font-family: 'Work Sans', sans-serif;
}

/* Header */
.head {
    display: flex;
    justify-content: flex-end;
    text-align: right;
    background-image: url('images/banner/banner1.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.head-title {
    color: #151414;
    font-size: 65px;
    font-weight: 700;
    max-width: 525px;
    margin-top: 216px;
    margin-right: 230px;
}

.head-para {
    color: var(--dark-02, #444343);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    max-width: 494px;
    margin-top: 24px;
    margin-bottom: 32px;
    margin-right: 230px;
}

.btn {
    width: 160px;
    height: 64px;
    border-radius: 5px;
    background: #F15B22;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    border: none;
    margin-bottom: 166px;
    margin-right: 230px;
}

/* main */
.previous-year {
    display: flex;
    gap: 87px;
}

.previous-year-column {
    width: 50%;
    display: flex;
    margin-top: 140px;
}

.column-left {
    justify-content: flex-end;
}

.column-right {
    display: block;
    justify-content: flex-start;
}

.previous-year-title {
    color: #151414;
    font-size: 40px;
    font-weight: 700;
    max-width: 288px;
    margin-top: 230px;
}

.previous-year-para {
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    max-width: 416px;
    margin-top: 24px;
    margin-bottom: 16px;
}

.previous-year-list {
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.plans {
    text-align: center;
}

.plan-head {
    color: #151414;
    font-size: 40px;
    font-weight: 700;
    margin-top: 130px;
}

.plans-container {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 55.7px;
}

.plan-title {
    color: #151414;
    font-size: 30px;
    font-weight: 700;
}

.plan-para {
    color: #737272;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 130px;
}

.mindset {
    background-image: url('images/gradient3.png'), url('images/watch.png');
    background-repeat: no-repeat;
    background-position: cover, cover;
    margin: auto;
    width: 50%;
    border-radius: 8px;
}

.mindset-title {
    max-width: 459px;
    color: #FFF;
    font-size: 40px;
    font-weight: 700;
    margin-left: 64px;
    margin-bottom: 24px;
    padding-top: 59px;
}

.mindset-btn {
    width: 160px;
    height: 64px;
    border-radius: 5px;
    background: #FFF;
    color: #F15B22;
    font-size: 20px;
    font-weight: 600;
    border: none;
    margin: 20px 64px;
}

/* footer */
footer {
    display: flex;
    gap: 100px;
    background: #151414;
    margin-top: 100px;
    padding: 130px 200px;
}

.footer-column {
    width: 50%;
}

.footer-title {
    color: #F8F8F8;
    font-size: 45px;
    font-weight: 700;
}

.footer-para {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    max-width: 485px;
}

.social-links {
    max-width: 175px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 130px;
}

.footer-title-2 {
    color: #FFF;
    font-size: 25px;
    font-weight: 600;
}

.contact input[type="email"] {
    border-radius: 8px;
    border: 1px solid #FFF;
    width: 325px;
    height: 64px;
    color: #F3F3F3;
    font-size: 18px;
    font-weight: 400;
    padding-left: 21px;
}

.footer-btn {
    display: block;
    border-radius: 8px;
    background: #FFF;
    width: 170.106px;
    height: 64px;
    color: #F15B22;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin-top: 16px;
}